<%= erb :header %>

<main>
  <div class="intro">
    <img src="/LLAL-logo.svg"/>
    <h1 class = "main-title">Results</h1>
    <h3 class = "tagline">Here are the top results for your search. Hope there's something for you!</h3>
  </div>
    <ul class="results">
      <% @top_five.each do |event| %>
          <li>
            <p><%= event["start_time"]%></p>
            <p><h2><%= event["title"] %></h2></p>
            <p><small> <%= event["venue_name"]%>, <%= event["venue_address"]%>, <%= event["city_name"]%>, <%= event["postal_code"]%></small></p>
            <p><a href= "<%= event["url"] %>">Find out more</a> </p>
          </li>
      <% end %>
    </ul>
</main>

<%= erb :footer %>
